beautifulsoup4==4.13.4
boto3==1.37.20
discord.py==2.5.2
fastapi==0.115.12
httpx==0.28.1
ics==0.7.2
matplotlib==3.10.1
numpy==2.2.5
openai==1.77.0
psutil==6.0.0
pydantic==2.11.4
python-dotenv==1.1.0
python_dateutil==2.9.0.post0
pytz==2024.2
redis==6.0.0
Requests==2.32.3
schedule==1.2.2
selenium==4.31.0
supabase==2.15.1
uvicorn==0.34.2
email-validator==2.2.0  # Use the latest compatible version

